.div {
    padding: 20px;
    text-align: center;
}

.container {
    padding: 30px;
    border-radius: 15px;
    margin: 6vh auto;
    width: 80%;
    background-color: white;
    display: flex;
    align-items: center;
}

.paragraph {
    color: var(--trypan-blue-2);
    margin-top: auto;
    margin-bottom: auto;
}

.iconContainer {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--vivid-sky-blue);
    display: flex;
    margin-right: 20px;
}

.icon {
    font-size: 100px;
    color: var(--trypan-blue)
}

