.title {
    color: var(--purple-2);
    text-align: center;
}

.projects {
    width: 60vw;
    margin: auto;
}

@media screen and (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
.cards {
    display: grid;
    gap: 3rem;
    margin-bottom: 3rem;
}