.card {
    max-width: 400px;
    margin: 10px auto;
}

.projectLinks {
    display: flex;
    justify-content: center;
}

.projectLink {
    margin-left: 15px;
    margin-right: 15px;
}

.image {
    border: solid black 5px;
}